@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div >
            <p>Chat here or go to the <a asp-page="/poll">Poll</a> to vote</p>
        </div>
    </div>
    <div class="row">
        <div >
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div >
            <hr />
        </div>
    </div>
    <div class="row">
        <div >
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>